$ff-primary: Arial,
sans-serif;
$ff-secondary:'Courgette',
cursive;
$rose:#EB43A3;
$rose-dark: #C55394;
$rose-light:#E577B5;
$bleu: #3498db;
$vert: #16a085;
$noir: #333;
$blanc: #FFF;
$text--size-super-large:3.5rem;
$text--size-largest: 3rem;
$text--size-larger: 2.5rem;
$text--size-large: 2rem;
$text--size-medium-plus: 1.9rem;
$text--size-medium: 1.8rem;
$text--size-default: 1.6rem;
$text--size-small: 1.4rem;
$text--size-smaller: 1.3rem;
$text--size-smallest: 1.2rem;
// barre de menus : #C55394
// 	hover menu : #EB43A3
//     titre h1 : #C55394
//     autres titres : #EB43A3
// 	footer : #E577B5